{% extends 'complaints/base.html' %}

{% block title %}All Complaints{% endblock %}

{% block content %}
<h3>All Complaints</h3>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Student</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for complaint in complaints %}
        <tr>
            <td>{{ complaint.created_by.username }}</td>
            <td>{{ complaint.title }}</td>
            <td>{{ complaint.category }}</td>
            <td>{{ complaint.status }}</td>
            <td>
                <a href="{% url 'update_status' complaint.id %}" class="btn btn-sm btn-warning">
                    Update
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
